/*

Global style rules are defined here

 */

body {
  font-family: sans-serif;
  color: #424242;
}

/*

General style rules used by more components defined here

 */

.positive {
  color: #4CAF50;
}

.negative {
  color: #F44336;
}

.neutral {
  color: #9E9E9E;
}
